<div class="registration-wrapper">
  <a class="back">
    <mat-icon [routerLink]="['/registrations/overview']">arrow_back</mat-icon>
  </a>
  <div class="registration" *ngIf="registration">
    <div class="title">
      <h1 #title [matTooltipDisabled]="!isOverflow(title)"
          [matTooltip]="registration.title">{{registration.title}}</h1>
      <div class="actions">
        <app-button (click)="edit()" [icon]="'edit'" class="edit-icon"></app-button>
        <app-button (click)="delete()" [icon]="'delete'" class="delete-icon"></app-button>
        <app-button (click)="download()" [icon]="'download'" class="download"></app-button>
      </div>
    </div>
    <div class="content">
      <div class="ql-container ql-snow" style="border-width: 0;">
        <div class="ql-editor" [innerHTML]="registration.content">
        </div>
      </div>
    </div>
    <p class="last-updated-at">Last updated at: {{registration.lastUpdatedAt | date}}</p>
  </div>
  <div class="left"></div>
</div>
