@import "~src/styles/variables";

::-webkit-scrollbar-track {
  background: $content-color;
  border-radius: 2px;
}

.registration-wrapper{
  top: 50px;
  left: 0;
  display: flex;
  height: calc(100% - 50px);

  .back{
    width: 25%;
    color: black;
    :hover{
      color: $primary-color;
    }
  }
  .registration{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;

    .title{
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;

      .actions{
        display: flex;
        .edit-icon{
          color: $primary-color;
          margin-right: 10px;
        }

        .delete-icon{
          color: $error-color;
        }
      }
    }

    .content{
      background-color: $content-color;
      height: 100%;
      width: calc(100% - 40px);
      border-radius: 5px;
      padding: 20px;
      resize: none;
      outline: none;
      border: none;
      cursor: default;
    }

    .last-updated-at{
      width: 100%;
      text-align: left;
      margin-bottom: 50px;
      margin-top: 16px;
    }
  }

  .left{
    width: 25%;
  }
}
