@import "src/styles/variables";

::-webkit-scrollbar-track {
  background: var(--content-color);
}

.registration-wrapper {
  top: 50px;
  left: 0;
  display: flex;
  height: calc(100% - 50px);

  .back {
    width: 25%;
    color: var(--text-color);

    :hover {
      color: $primary-color;
    }
  }

  .registration {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    width: 50%;

    .title {
      margin-top: 50px;
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;

      h1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }

      .actions {
        display: flex;
        text-align: right;

        .edit-icon {
          color: $primary-color;
        }

        .delete-icon {
          color: $error-color;
        }

        .download {
          color: var(--text-color);
        }
      }
    }

    .content {
      background-color: var(--content-color);
      color: var(--text-color) !important;
      max-height: 80%;
      min-height: 80%;
      width: 100%;
      max-width: 100%;
      font-size: 18px;
      border-radius: 5px;
      padding: 20px;
      resize: none;
      outline: none;
      border: none;
      cursor: default;

      .ql-container{
        min-height: 100% !important;
        max-height: 100% !important;
      }
    }

    .last-updated-at {
      width: 100%;
      height: 10%;
      text-align: left;
      margin-top: 15px;
    }
  }

  .left {
    width: 25%;
  }
}
