<div class="registration-wrapper">
  <div class="right">

  </div>
  <div class="center">
    <div class="elements">
      <div
        *ngFor="let registration of registrations"
        class="registration"
        [ngStyle]="{'box-shadow': '0 0 5px 1px ' + registration?.categoryColor}"
      >

        <div class="item">
          <div
            [routerLink]="['/registrations/', registration.id]"
            class="info"
          >
            <div class="title">{{registration.title.toUpperCase()}}</div>
            <div class="content">
              <div class="description">{{registration.description}}</div>
              <div class="created-date">{{registration?.createdAt | date }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="left">
    <button (click)="addRegistration()" aria-label="Create registration button" mat-raised-button>
      Add
    </button>
  </div>
</div>
