.category-picker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .mat-dialog-content {
    .selector {
      padding: 5px 10px;
      border-radius: 5px;
      background-color: var(--background-color);
      color: var(--text-color);
    }
  }
}
