<div class="category-wrapper">
  <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm"
        class="category-form">
    <div class="controls">
      <button (click)="cancel()" [ngStyle]="{'visibility': isEditForm || isCreateForm ? 'visible' : 'hidden'}">Back</button>

      <button [disabled]="!categoryForm.valid"
              type="submit" *ngIf="isEditForm || isCreateForm">{{isEditForm || isCreateForm ? 'Save' : 'Edit'}}</button>
    </div>

    <div class="inputs">
      <div>
        <label>Name</label>
        <input [readOnly]="!(isEditForm || isCreateForm)"   formControlName="name" type="text" placeholder="Name">
      </div>
      <div>
        <label>Color</label>
        <input [readOnly]="!(isEditForm || isCreateForm)"  formControlName="color" type="text" placeholder="#ffff">
      </div>
    </div>

  </form>
</div>
