@import "src/styles/variables";

.registration-form {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 50px;

  .cancel{
    width: 20%;
    padding: 15px 0 0 15px;
  }

  .form-data{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 15px;

    .title-control {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: space-between;
        color: var(--text-color);

        p {
          text-transform: uppercase;
          font-size: 18px;
        }
      }

      .registration-title {
        padding: 5px;
        font-size: 20px;
      }
    }

    .content-control {
      padding-top: 15px;
    }

    input {
      color: var(--text-color);
      background-color: var(--background-color);

      &::placeholder {
        color: var(--text-color);
      }
    }
  }

  .create{
    width: 20%;
    text-align: right;
    padding: 15px 15px 0 0;
  }
}


