<div class="registration-wrapper">
  <form (ngSubmit)="submit()" [formGroup]="createOrEditForm" class="registration-form">
    <div class="title-control">
      <p>short description</p>
      <input class="registration-title" formControlName="title" placeholder="What is this note about...">
    </div>
    <div class="content-control">
      <quill-editor
        #editor
        [modules]="quillConfig"
        formControlName="content"
        format="html"
        placeholder=""
      >
      </quill-editor>
      <div class="actions">
        <button (click)="cancel()" class="cancel-button" mat-raised-button>Cancel</button>
        <button class="create-registration" mat-raised-button
                type="submit">{{isCreateMode ? 'Create' : 'Save Changes'}}</button>
      </div>
    </div>
  </form>

</div>
