<div class="registration-wrapper">
  <h1 class="title" *ngIf="isCreateMode">Create Registration</h1>
  <h1 class="title" *ngIf="!isCreateMode">Edit Registration</h1>
  <form [formGroup]="createOrEditForm" class="registration-form" (ngSubmit)="submit()">
   <div class="title-control">
     <input class="registration-title" formControlName="title" placeholder="Title">
     <mat-error *ngIf="createOrEditForm.controls['title'].invalid && createOrEditForm.controls['title'].touched">Title is required</mat-error>
   </div>
    <div class="content-control">
      <textarea class="registration-content" formControlName="content"></textarea>
      <mat-error *ngIf="createOrEditForm.controls['content'].invalid && createOrEditForm.controls['content'].touched">Content is required</mat-error>

    </div>
    <div class="actions">
      <button class="cancel-registration" mat-raised-button (click)="cancel()">Cancel</button>
      <button [disabled]="!createOrEditForm.valid" class="create-registration" mat-raised-button type="submit">{{isCreateMode ? 'Create' : 'Save Changes'}}</button>
    </div>
  </form>

</div>
