@import "src/styles/variables";

:host(.full-view) {
  .registration-form {
    padding-bottom: 15px;
  }
}

:host:not(.full-view) {
  width: 80%;
  height: 100%;

  .quill-container.ql-snow {
    height: 100px !important;
  }
}

.registration-form {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);

  .form-data {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 15px;

    .title-control {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        justify-content: space-between;
        color: var(--text-color);

        p {
          text-transform: uppercase;
          font-size: 18px;
        }
      }

      .registration-title {
        padding: 5px;
        font-size: 20px;
      }
    }

    .content-control {
      padding-top: 15px;
    }

    input {
      color: var(--text-color);
      background-color: var(--background-color);

      &::placeholder {
        color: var(--text-color);
      }
    }
  }

  .actions {
    height: 35px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .registrations-view {
    width: 80%;
  }

  .no-padding {
    padding: 0;
  }
}
