@import '~src/styles/variables';

::-webkit-scrollbar {
  width: 0;
  padding: 0;
}

.category-wrapper {
  top: 50px;
  left: 0;
  display: flex;
  height: calc(100% - 50px);

  .right {
    width: 25%;
    padding-top: 100px;
  }

  .center {
    width: 50%;
    padding-top: 100px;

    .elements {
      overflow-y: scroll;
      height: 100%;
      display: flex;
      flex-direction: column;

      .category {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        margin: 2rem 0 2rem 0;


        .item{
          display: flex;
          width: 75%;
          height: 100px;
          align-items: center;
          justify-content: end;

          .arrow-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid #d6efef;
            left: -15px;
            z-index: 2;
          }

          .info {
            background-color: #d6efef;
            border-radius: 5px;
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            z-index: 1;


            .category-data{
              display: flex;
              flex-direction: column;
              .name {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 18px;
                padding-bottom: 10px;

              }
              .color {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .actions{
              display: flex;

              .edit{
                color: $primary-color;
              }

              .delete{
                color: $error-color;
              }
            }
          }
        }
      }
    }
  }

  .left {
    padding-top: 100px;
    text-align: center;

    width: 25%;
    button{
      background-color: $primary-color;
      color: white;
    }
  }
}
