<div class="category-wrapper">
  <div class="right">
  </div>
  <div class="center">
    <div class="elements">
      <div
        *ngFor="let category of categories"
        class="category">
        <div class="item" >
          <div class="arrow-left"></div>
          <div class="info" [ngStyle]="{'box-shadow': '0 0 5px 1px ' + category?.color}">
            <div class="category-data">
              <div class="name">{{category.name.toUpperCase()}}</div>
              <div class="color">{{category.color}}</div>
            </div>
            <div class="actions">
              <app-button [icon]="'edit'" class="edit" [routerLink]="['/categories/edit', category.id]"></app-button>
              <app-button [icon]="'delete'" class="delete" (click)="delete(category.id)"></app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="left">
    <button  mat-raised-button aria-label="Create registration button" (click)="addCategory()">
      Add
    </button>
  </div>
</div>
