@import '~src/styles/variables';

::-webkit-scrollbar {
  width: 0;
  padding: 0;
}

.category-wrapper {
  top: 50px;
  left: 0;
  display: flex;
  height: calc(100% - 50px);

  .right {
    width: 25%;
    padding-top: 100px;
  }

  .center {
    width: 50%;
    padding-top: 100px;

    .elements {
      overflow-y: scroll;
      height: 100%;
      display: flex;
      flex-direction: column;
      color: var(--text-color);

      .category {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        margin: 2rem 0 2rem 0;
        cursor: pointer;

        .item {
          display: flex;
          width: 75%;
          height: 100px;
          align-items: center;
          justify-content: flex-end;


          .info {
            background-color: var(--content-color);
            border-radius: 5px;
            height: 80px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            z-index: 1;


            .category-data {
              width: 80%;
              .name {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 22px;
                padding-bottom: 10px;

              }

              .color {
                overflow: hidden;
                height: 18px;
                text-overflow: ellipsis;
              }
            }

            .actions {
              width: 20%;
              display: flex;
              align-content: center !important;

              .edit {
                color: var(--button-background-color);
              }

              .delete {
                color: $error-color;
              }
            }
          }
        }
      }
    }
  }

  .left {
    padding: 15px 15px 0 0;
    text-align: end;

    width: 25%;

    button {
      background-color: var(--button-background-color);
      color: white;
    }
  }
}
