    <h1 mat-dialog-title>Pick profile photo</h1>
    <div mat-dialog-content>
      <div class="row">

        <div class="col-md-3">

          <div ng2FileDrop
               [ngClass]="{'drop-zone-hover': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="drop-zone"
               *ngIf="!item"
          >

          </div>
          <img class="photo" *ngIf="item" [src]="url">
        </div>

        <button *ngIf="item" type="button" class="btn btn-success btn-xs"
                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>

      </div>
    </div>
  <div mat-dialog-actions class="actions">
    <div>
      <button mat-raised-button class="cancel-button" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button
              [mat-dialog-close]="item?.file?.rawFile" cdkFocusInitial>Ok
      </button>
    </div>
    <button mat-raised-button class="remove-button" *ngIf="item" (click)="item = undefined">Remove</button>

  </div>

