<div class="login-wrapper">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="title">Login</div>
    <div class="container">
      <label>Username</label>
      <input class="username" formControlName="username" placeholder="Ex: JohnDoe">
    </div>
    <div class="container">
      <label>Password</label>
      <input class="password" formControlName="password" type="password" placeholder="password">
    </div>
    <button mat-raised-button [disabled]="submitted" type="submit">Login</button>
  </form>
  <div class="actions">
    <a>forgot-password</a>
    <a [routerLink]="['/auth/register']">register</a>
  </div>
</div>
