<div class="login-wrapper">
  <form (ngSubmit)="submit()" [formGroup]="loginForm" class="login-form">
    <div class="title">Login</div>
    <div class="container">
      <label>Email</label>
      <input
        class="username"
        formControlName="email"
        placeholder="Ex: JohnDoe"
      />
    </div>
    <div class="container">
      <label>Password</label>
      <input
        class="password"
        formControlName="password"
        placeholder="password"
        type="password"
      />
    </div>
    <button
      [disabled]="submitted"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Login
    </button>
    <button [routerLink]="['/auth/register']" mat-raised-button>
      Register
    </button>
    <button mat-raised-button color="warn">Forgot password</button>
    <div id="google-login"></div>

    <cool-facebook-button class="facebook-login" (click)="loginWithFacebook()"
      >Signin with Facebook</cool-facebook-button
    >

    <cool-apple-button class="apple-login">Signin with Apple</cool-apple-button>
  </form>
</div>
