<div class="login-wrapper">
  <form (ngSubmit)="submit()" [formGroup]="loginForm" class="login-form">
    <div class="title">Login</div>
    <div class="container">
      <label>Email</label>
      <input
        class="username"
        formControlName="email"
        placeholder="Ex: JohnDoe"
      />
    </div>
    <div class="container">
      <label>Password</label>
      <input
        class="password"
        formControlName="password"
        placeholder="password"
        type="password"
      />
    </div>
    <button
      [disabled]="submitted"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Login
    </button>
    <button [routerLink]="['/auth/register']" mat-raised-button>
      Register
    </button>
    <button mat-raised-button color="warn">Forgot password</button>
    <div id="google-login"></div>

    <a class="btn btn-block btn-social btn-facebook login-btn" (click)="loginWithFacebook()"
      ><fa-icon [icon]="faFacebookF"></fa-icon>
      Sign in with Facebook
    </a>

  </form>
</div>
