@import "src/styles/variables";

.login-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--background-color);

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--content-color);
    height: 50vh;
    color: var(--text-color);

    .title {
      font-size: 25px;
      font-weight: bold;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      label {
        font-weight: bold;
        text-transform: uppercase;
      }

      input {
        outline: none;
        padding: 5px;
        font-size: 18px;
        color: var(--text-color);
        background-color: var(--background-color);
        border: none;
        &:focus {
          border: 2px solid $primary-color;
        }
      }
    }

    button {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    width: 250px;
    justify-content: space-between;

    a {
      text-decoration: none;
      padding: 15px;
      background-color: $primary-color;
      color: var(--text-color);
    }
  }
}
