.header-wrapper {
  background-color: #b2b2b2;
  height: 50px;
  width: 100vw;
  box-shadow: 0 0 5px 3px #9b9b9b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .menu {
    left: -30px;
  }

  .edit-panel {
    height: 100%;
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
  }
}
