<div class="group-overview">
  <div class="menu">
    <app-group-menu></app-group-menu>
  </div>
  <div class="left" *ngIf="!!groupId; else noGroupSelected">
    <div class="group-navbar">
      <div
        class="registrations tab"
        (click)="redirectToRegistrations()"
        [ngClass]="isActive ? 'active' : ''"
      >
        Registrations
      </div>
      <div
        class="categories tab"
        (click)="redirectToCategories()"
        [ngClass]="!isActive ? 'active' : ''"
      >
        Categories
      </div>
    </div>
    <div class="group-overview-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #noGroupSelected>
  <h1 class="no-group-selected">
    There is no group selected. To see the group content please select one.
  </h1>
</ng-template>
