<div class="category-picker">
  <div>
    <h1 *ngIf="isCreateMode" mat-dialog-title>Create category</h1>
    <h1 *ngIf="!isCreateMode" mat-dialog-title>Edit category</h1>
    <form
      (ngSubmit)="submit()"
      [formGroup]="createOrEditForm"
      class="category-form"
    >
      <div class="container">
        <label>Name</label>
        <input formControlName="name" placeholder="Name" />
        <mat-error
          *ngIf="
            createOrEditForm.controls['name'].invalid &&
            createOrEditForm.controls['name'].touched
          "
          >Title is required
        </mat-error>
      </div>
      <div class="container">
        <label>Color</label>
        <div class="color">
          <input
            [ngxMatColorPicker]="picker"
            formControlName="color"
            placeholder="#ffff"
            [disabled]="true"
          />
          <ngx-mat-color-toggle
            [for]="picker"
            matSuffix
            [disabled]="false"
          ></ngx-mat-color-toggle>
          <ngx-mat-color-picker
            #picker
            [disabled]="false"
          ></ngx-mat-color-picker>
          <mat-error
            *ngIf="
              createOrEditForm.controls['color'].invalid &&
              createOrEditForm.controls['color'].touched
            "
          >
            Color is required
          </mat-error>
        </div>
      </div>
      <div mat-dialog-actions align="end">
        <button (click)="onNoClick()" class="cancel-button" mat-raised-button>
          Cancel
        </button>
        <button
          [disabled]="!createOrEditForm.valid"
          [mat-dialog-close]="result"
          cdkFocusInitial
          mat-raised-button
          type="submit"
          color="primary"
        >
          Ok
        </button>
      </div>
    </form>
  </div>
</div>
