.group-overview {
  height: 100%;
  padding-top: 50px;
  display: flex;

  .right {
    width: 25%;
  }

  .center {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .left {
    width: 25%;
    text-align: end;
    padding: 15px 15px 0 0;
  }
}
