<div class="menu-header">
  <div class="menu-title">
    <strong>Groups</strong>
    <app-button [icon]="'add'" [routerLink]="['/groups/create']"></app-button>
  </div>
  <div class="menu-actions">
    <input
      class="by-name"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="Search for group"
    />
  </div>
</div>
<div class="elements">
  <div
    class="group"
    *ngFor="
      let group of groups
        | search : { searchText: searchText, property: 'name' }
    "
    [ngClass]="group.id === activeGroupId ? 'group-active' : 'normal'"
    (click)="setActiveItem(group.id)"
  >
    <div class="info">
      <div class="content">
        <mat-icon
          *ngIf="!group.image; else showPhoto"
          aria-hidden="false"
          aria-label="User placeholder for photo"
          class="group-icon"
        >
          account_circle
        </mat-icon>
        <ng-template #showPhoto>
          <img class="group-image" [src]="group.image" />
        </ng-template>
        <div class="title">
          <span>{{ group.name }}</span>
          <div class="user-photos">
            <img
              [src]="image"
              *ngFor="let image of group.userPhotos?.slice(0, 3)"
              [alt]="group.name + '\'s photo'"
            />
            <p *ngIf="group.userPhotos?.length != 3 && group.userCount > 3">
              ...
            </p>
            <p *ngIf="group.userPhotos?.length == 0">
              {{ group.userCount }} users
            </p>
          </div>
        </div>
      </div>
      <div class="actions" (click)="$event.stopPropagation()">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="action for registration menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="delete(group.id)">
            <mat-icon class="delete">delete</mat-icon>
            <span>{{
              group.ownerId == currentUser?.id ? "Delete" : "Exit"
            }}</span>
          </button>
          <button
            mat-menu-item
            *ngIf="group.ownerId == currentUser?.id"
            (click)="edit(group.id)"
          >
            <mat-icon class="edit">edit</mat-icon>
            <span>Edit</span>
          </button>
        </mat-menu>
        <div class="created-date">{{ group.createdAt | date }}</div>
      </div>
    </div>
  </div>
</div>
