@import "../../../styles/variables";

.edit-profile-wrapper {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;

  .right {
    width: 25%;
  }

  .center {
    width: 50%;
    max-height: 100%;
    box-shadow: 12px 0 15px -8px var(--content-color), -12px 0 8px -8px var(--content-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-photo{
      margin-bottom: 25px;
      .user-icon, img {
        font-size: 200px;
        width: 200px;
        height: 200px;
      }

      img{
        border-radius: 50%;
        border-style: dashed;
      }
    }

    .entry{
      display: flex;
      flex-direction: column;
      width: 200px;
      margin-bottom: 25px;

      label{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: var(--text-color);
      }
      input{
        min-width: 100%;
        outline: none;
        font-size: 16px;
        color: var(--text-color);
        background-color: var(--header-color);
        border-radius: 5px;
        padding: 10px;
        border: none;
        &:focus{
          border: 1px solid $primary-color;
        }
        &.ng-invalid{
          border: 1px solid $error-color;
        }
      }
    }

    .actions{
      width: 200px;
      display: flex;
      justify-content: space-around;
      margin-bottom: 15px;
    }

    .submit{
      color: white;
      background-color: $primary-color !important;
      &.mat-button-disabled{
        opacity: 50%;
      }
    }
  }

  .left {
    width: 25%;
  }
}

