<div class="edit-panel-wrapper">
  <div *ngIf="visible" @slideInOut class="options">
    <app-button [icon]="'checklist'"></app-button>
    <app-button [icon]="'format_list_bulleted'"></app-button>
    <app-button [icon]="'upload'"></app-button>
    <app-button [icon]="'text_increase'"></app-button>
    <app-button [icon]="'text_decrease'"></app-button>
  </div>
  <div (click)="toggleEditPanel()" class="arrow">
    <app-button *ngIf="visible" [icon]="'chevron_left'"></app-button>
    <app-button *ngIf="!visible" [icon]="'chevron_right'"></app-button>
  </div>
</div>
