<div class="account-wrapper">
  <div class="right"></div>
  <div class="center">
    <div class="title">
      <h1>User profile</h1>
      <div class="actions">
        <app-button (click)="edit()" [icon]="'edit'" class="edit-icon">edit</app-button>
        <app-button (click)="delete()" [icon]="'delete'" class="delete-icon">delete</app-button>
      </div>
    </div>
    <div *ngIf="user" class="content">
      <div class="container">
        <mat-icon *ngIf="!user.photo; else showPhoto" aria-hidden="false" aria-label="User placeholder for photo"
                  class="user-icon">
          account_circle
        </mat-icon>
        <ng-template #showPhoto>
          <img [src]="user.photo?.url">
        </ng-template>
        <div *ngIf="!user.externalId">
          <input #imageInput (change)="imageInputChange($event)" accept="image/png, image/gif, image/jpeg" hidden="true"
                 onclick="this.value=null"
                 type="file"/>
          <button (click)="imageInput.click()" color="primary"
                  mat-raised-button>{{user.photo ? 'Change profile photo' : 'Add profile photo'}}</button>
        </div>
      </div>
      <div class="container">
        <h2>Username</h2>
        <p>{{user.userName}}</p>
      </div>
      <div class="container">
        <h2>Email</h2>
        <p>{{user.email}}</p>
      </div>
      <div class="container">
        <h2>Phone number</h2>
        <p>{{user.phoneNumber || '-'}}</p>
      </div>
    </div>
  </div>
  <div class="left"></div>
</div>
