<div class="registration-wrapper">
  <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm"
        class="registration-form">
    <div class="controls">
      <button (click)="cancel()" [ngStyle]="{'visibility': isEditForm ? 'visible' : 'hidden'}">Back</button>

      <button [disabled]="!registrationForm.valid"
              type="submit">{{isEditForm || isCreateForm ? 'Save' : 'Edit'}}</button>
    </div>
    <input [readOnly]="!(isEditForm || isCreateForm)" class="title" formControlName="title" type="text">

    <textarea [readOnly]="!(isEditForm || isCreateForm)" class="content" formControlName="content"
              type="text"></textarea>

    <button *ngIf="!isEditForm && !isCreateForm" (click)="delete()">Delete</button>
  </form>
</div>
