@import "src/styles/variables";

.header {
  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    color: var(--text-color);
    background-color: var(--header-color);

    .logo {
      align-self: center;
      font-weight: bold;
      font-size: 20px;
    }
    .actions{
      display: flex;
      a{
        display: flex;
        justify-content: space-between;
        .profile-photo{
          display: flex;
          align-items: center;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
      }

      .dark-theme{
        display: flex;
        align-items: center;
      }
    }
  }

  .loader-container {
    position: fixed;
    width: 100%;
    z-index: 99;
  }
}

