<div *ngIf="authorizationToken" class="header">
  <div class="content">
    <div class="logo">Tempus</div>
    <nav mat-tab-nav-bar>
      <a #rla="routerLinkActive"
         *ngFor="let tab of tabs"
         [active]="rla.isActive"
         [routerLink]="tab.link" mat-tab-link
         routerLinkActive
      >{{tab.label}}</a>
    </nav>
  </div>
  <mat-progress-bar *ngIf="loaderService.isLoading | async" class="loader-container"
                    mode="indeterminate"></mat-progress-bar>
</div>
