@import "src/styles/variables";

.header {
  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    color: var(--text-color);
    background-color: var(--header-color);

    .logo {
      align-self: center;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .loader-container {
    position: fixed;
    width: 100%;
    z-index: 99;
  }
}

