<div class="register-wrapper">
  <a class="back">
    <mat-icon [routerLink]="['/auth/login']">arrow_back</mat-icon>
  </a>
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="title">Register</div>
    <div class="container">
      <label>Username</label>
      <input class="username" formControlName="username" placeholder="Ex: JohnDoe">
    </div>
    <div class="container">
      <label>Email</label>
      <input class="email" formControlName="email" placeholder="Ex: John.Doe@gmail.com">
    </div>
    <div class="container">
      <label>Password</label>
      <input class="password" formControlName="password" type="password" placeholder="password">
    </div>
    <button mat-raised-button [disabled]="submitted" type="submit">Login</button>
  </form>

</div>
