quill-editor {
  display: flex;
  flex-direction: column;

  min-height: calc(100% - 50px);
  max-height: calc(100% - 50px);
}

.ql-toolbar.ql-snow {
  border: none;
  min-height: 15%;
  max-height: 15%;
}

.ql-container.ql-snow {
  border: none;
  background-color: var(--background-color);
  min-height: 85%;
  max-height: 85%;
  .ql-editor {
    .ql-align-justify {
      padding: 15px;
    }

    li {
      color: var(--text-color);

      &:before {
        font-size: 20px;
      }
    }

    &:focus {
      border: 2px solid var(--button-background-color);
    }
  }


}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.ql-toolbar .ql-fill {
  fill: #fff;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #fff;
  border: none;

  :hover {
    color: #fff;
  }

  .ql-picker-options {
    background-color: var(--background-color);
  }
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--text-color);
}

