/* You can add global styles to this file, and also import other style files */
@import "styles/variables";
@import "~@ng-select/ng-select/themes/material.theme.css";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  --text-color: #222;
  --background-color: #fff;
  --header-color: #d7d7d7;
  --active-color: #c0c0c0;
  --content-color: #e7e7e7;
  --tooltip-background-color: #2a2a2a;
  --tooltip-text-color: #eee;
}

body.dark-theme {
  --text-color: #eee;
  --background-color: #2a2a2a;
  --header-color: #1f1f1f;
  --active-color: #181818;
  --content-color: #313131;
  --tooltip-background-color: #fff;
  --tooltip-text-color: #222;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}

h1,
p {
  color: var(--text-color);
}

.cancel-button {
  background-color: #fff !important;
  color: black !important;

  &:disabled {
    background-color: gray;
  }
}

.remove-button {
  background-color: $error-color !important;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.mat-select-content {
  background-color: var(--header-color);
  color: var(--text-color);

  mat-option {
    color: var(--text-color);

    &.mat-active {
      color: var(--text-color);
    }
  }
}

.mat-select-panel {
  transform: translateY(19px) !important;
  background: var(--header-color);
  min-width: 100% !important;
}

.select-category {
  background-color: var(--background-color) !important;
}

.ng-option {
  display: flex !important;
  align-items: center !important;
  margin: 10px 0;

  span {
    margin-left: 10px;
  }
}

.page-wrapper {
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}


