.ql-container.ql-snow {
  min-height: 200px;
  color: var(--text-color);
  .ql-editor {
    li {
      &:before {
        font-size: 20px;
      }
    }
  }
}

.ql-toolbar.ql-snow {
  color: var(--text-color);
  background-color: var(--content-color);
  &::after {
    display: none;
  }
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: var(--text-color);
}

.ql-toolbar .ql-fill {
  fill: var(--text-color);
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: var(--text-color);

  :hover {
    color: var(--text-color);
  }

  .ql-picker-options {
    background-color: var(--background-color);
  }
}
