@import "src/styles/variables";

.registration-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--background-color);

  .top {
    width: 100%;
    height: 65px;
    padding: 15px 15px 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;

    .search {
      width: 90%;
      display: flex;

      .filter {
        min-width: 180px;
        width: 20vw;
        height: 50px;
        background-color: var(--header-color);
        color: var(--text-color);
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 15px;

        :last-child {
          margin-right: 0;
        }
      }

      .by-description {
        border: none;
        outline: none;
        font-size: 16px;
      }

      .by-creation-date {
        display: flex;
        align-items: center;
      }

      .by-color {
        display: flex;
        align-items: center;
      }

      input::placeholder {
        font-size: 14px;
        color: var(--text-color);
      }
    }

    .add-button {
      height: 50px;
      min-width: fit-content;
    }
  }

  .center {
    padding: 15px;
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    align-items: start;

    .elements {
      padding: 5px;
      overflow-y: scroll;
      min-width: 215px;
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      color: var(--text-color);

      .registration {
        width: 100%;
        min-width: 200px;
        margin-bottom: 1.5rem;
        background-color: var(--content-color);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        padding: 0 0 15px 15px;

        .content {
          width: 100%;
          display: flex;
          font-size: 20px;
          justify-content: space-between;

          .title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-top: 15px;
            text-decoration: none;

            &:hover {
              text-overflow: clip;
              white-space: normal;
              word-break: break-all;
            }

            &:not(:hover) {
              color: var(--text-color) !important;
            }
          }
        }

        .created-date {
          text-align: end;
          padding-right: 15px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .no-registration-selected {
      color: var(--text-color);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100%;
    }
  }

  .no-registrations {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    text-align: end;
    padding: 15px 15px 0 0;
    width: 25%;
  }
}

.option {
  height: 15px;
  font-size: 0;
}
