<div class="registration-wrapper" *ngIf="registrations">

  <div class="search">

    <input class="by-description filter" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
           placeholder="Search for registration">
    <div class="by-creation-date filter">
      <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker" [min]="minDate" [max]="maxDate">
        <input matStartDate formControlName="start" placeholder="Create start date">
        <input matEndDate formControlName="end" placeholder="Create end date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <app-button [icon]="'search_off'" [tooltip]="'reset dates'" (click)="resetDate()"></app-button>
    </div>
    <div class="by-color filter">
      <mat-label>Category color</mat-label>
      <mat-select [formControl]="colors" multiple panelClass="mat-select-content" disableOptionCentering
                  (valueChange)="modifyContent($event)">
        <mat-option *ngFor="let color of registrationsColor" [value]="color">
          <div class="option" [ngStyle]="{'background-color': color}">{{color}}</div>
        </mat-option>
      </mat-select>
    </div>
    <button (click)="addRegistration()" aria-label="Create registration button" mat-raised-button color="primary" class="add-button">
      New registration
    </button>
  </div>
  <div class="center" *ngIf="registrations.length != 0; else showNoRegistrations">
    <div class="elements">
      <div *ngFor="let registration of registrations
        | search: {searchText: searchText, property: 'description'}
        | dateRange : {start: dateRange.controls['start'].value, end: dateRange.controls['end'].value}
        | color:  colors.value" class="registration"
           [ngStyle]="{'box-shadow': '0 0 5px 1px ' + registration.categoryColor}" (click)="openEditContainer(registration.id)">

        <div class="content">
          <a (click)="redirectToEditPage(registration.id)" class="title" >{{registration.description}}</a>
        </div>
        <div class="actions">
          <button mat-icon-button (click)="excludeClick($event)" [matMenuTriggerFor]="menu" aria-label="action for registration menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete(registration.id)">
              <mat-icon class="delete">delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="download(registration)">
              <mat-icon class="download">download</mat-icon>
              <span>Download</span>
            </button>
            <button mat-menu-item (click)="print(registration)">
              <mat-icon class="print">print</mat-icon>
              <span>Print</span>
            </button>
          </mat-menu>
          <div class="created-date">Created at: {{registration.createdAt | date }}</div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <ng-template #showNoRegistrations>
    <h1 class="no-registrations">You do not have registrations</h1>
  </ng-template>
</div>
